{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h2>Modifier mon profil</h2>

    <div>
        <div>
            <div>
                {% if participant.image.nom is defined %}
                    <img class="imgProfil" src="{{ asset('image/imagesProfil/')~participant.image.nom }}" alt="Image de profil de {{ participant.pseudo }}" >
                {% else %}
                    <p>Pas de photo de profil</p>
                {% endif %}

            </div>

        </div>
        <div>
            {{ form(registrationForm) }}
        </div>
    </div>
{% endblock %}