{% extends 'base.html.twig' %}

{% block body %}
    <h2>Cree un utilisateur</h2>

    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
    {{ form_end(registrationForm) }}
    <button> S'enregistrer </button>
{% endblock %}

{% block title %}Register | {{ parent() }}{% endblock %}
