{% extends 'base.html.twig' %}

{% block body %}
    <h2>Cree un utilisateur</h2>

    {{ form_start(registrationForm) }}

    {{ form_widget(registrationForm) }}

    <button type="submit" class="btn"> S'enregistrer </button>
    {{ form_end(registrationForm) }}
{% endblock %}

{% block title %}Register | {{ parent() }}{% endblock %}
