{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {% endblock %}

{% block body %}
        <div class="jumbotron mt-2">
                <h1> ceci est la page de creation de campus</h1>

                <input type="button" name="recherche" value="recherche">








        </div>
{% endblock %}
