{% extends 'base.html.twig' %}

{% block body %}
        <div>
            {# afficher le formulaire de creation #}
                <h1> cecie est la page de creation d'un campus</h1>
        </div>
{% endblock %}

{% block title %}
Create a new campus | {{ parent() }}
{% endblock %}

