{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div>
        <h1 >Gerer les campus</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('campus_create') }}" >Ajouter un Campus</a>
        {% endif %}
        <table  style="width:100%">
            <thead>
            <th>
                <td >id</td>
                <td >Nom</td>

                {% if is_granted('ROLE_ADMIN') %}

                    <td >Action</td>

                {% endif %}

            </th>
            </thead>
            <tbody>

            {% if campus is defined and campus is not empty %}

                {% for campus in campus %}

                    <tr>
                        <td >{{ campus.id }} </td>
                        <td >{{ campus.nom }}</td>

                        {% if is_granted('ROLE_ADMIN') %}


                            <td >Action</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr >
                    <th scope="row" colspan="4">Aucun lieu trouvé...</th>
                </tr>
            {% endif %}
            </tbody>
        </table>

    </div>
{% endblock %}