{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Home
{% endblock %}

{% block body %}
    {# TODO: afficher le liste des sorties #}
    <h1>Liste des sortie</h1>










{% endblock %}