{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Home
{% endblock %}

{% block body %}
<div class="Date and User" style="text-align: right">
    <p><strong>Date du jour: {{ "now"|date('d,m,Y') }}</strong></p>
    <p><strong>Participant: {{ app.user }}</strong></p>
</div>

<div class="form-filtre">
    <h3>Filtrer les sorties</h3>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mt-2">
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroup_site">Campus</label>
                </div>
                <select class="custom-select" id="inputGroup_site">
                    <option selected>Choisissez votre campus</option>

                </select>
            </div>
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroup_nom">Nom de la sortie</label>
                </div>
                <input class="form-control" id="inputGroup_nom" type="search">
            </div>
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <label class="input-group-text">Dates :</label>
                </div>
                Entre le <input class="form-control" type="date" id="inputGroup_dateDebut">et le
                <input class="form-control" type="date" id="inputGroup_dateFin">
            </div>
        </div>

        <div class="btn-checkbox" style="text-align: -webkit-right">
        <div class="col-12 col-md-6 col-lg-4 mt-2">
            <div class="form-check mt-2">
                <label class="form-check-label" for="checkbox_jeSuisOrga">
                <input class="form-check-input" type="checkbox" value="" id="checkbox_jeSuisOrga">
                    Sorties dont je suis l'organisateur.rice
                </label>
            </div>
            <div class="form-check mt-2">
                <label class="form-check-label" for="checkbox_jeSuisInsc">
                <input class="form-check-input" type="checkbox" id="checkbox_jeSuisInsc">
                    Sorties auxquelles je suis inscrit.e
                </label>
            </div>
            <div class="form-check mt-2">
                <label class="form-check-label" for="checkbox_jeSuisPasInsc">
                <input class="form-check-input" type="checkbox" value="" id="checkbox_jeSuisPasInsc">
                    Sorties auxquelles je ne suis pas inscrit.e
                </label>
            </div>
        </div>
        </div>
        <input type="button" name="rechercher" value="rechercher">
</div><br>

    <table class="tab-filtre">
        <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Date de la sortie</th>
                <th>Clotûre</th>
                <th class="hide-phone">Nb places</th>
                <th class="text-center hide-phone">Inscrit</th>
                <th class="hide-phone">Etat</th>
                <th class="hide-phone">Organisateur</th>
                <th class="hide-phone">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Philo</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Origami</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Perles</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Concert métal</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Jardinage</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Cinéma</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Pâtes à sel</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>


{% endblock %}