{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Home
{% endblock %}

{% block body %}
<h1>Cette page est la HomePage, elle dois afficher la page de formulaire de connection</h1>
{% endblock %}