body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Rampart One', cursive;
    background-color: ivory;

}


header {
    background-color: darkcyan;
    padding: 0.5rem 0;
}


header h1 {
    text-align: center;
    text-transform: uppercase;
    width: 150px;
}


header a {

    text-decoration: none;
    color: inherit;

}

header nav a:hover {
    background-color: ivory;
    text-decoration: underline;
    cursor: pointer;
}


.header-logo img {
    width: auto ;
    margin: auto;
    background-color: darkcyan;
}
.logo-titre a {
    width: auto;
    background: darkcyan;
}

.logo-titre a:hover {
    background-color: lightgoldenrodyellow;
    transition: all 3s ;
}

.header-nav {
    display: flex;
}
nav ul{

    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: right;

}
nav li{

    margin-right: 1rem;

}

main {
    flex: 1;
    padding: 1rem 0;
    background-color:ivory;
}
label
{
    padding: 1.5px;
    display: block;
    margin: 8px;
}

input,
textarea

{
    margin-bottom: 3rem;
    box-sizing: border-box;
    width: 300px;
    max-width: 50%;
}


body> .container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

td {
    border:darkgray solid;
}

th {
    border: black solid;
}

.tab-filtre {
    width: 96em;
    border: black solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding: 2rem 0;
    text-align: center;
    background-color: darkcyan;
    color: black;
}
.imgProfil
{
    width: 200px;
    height: auto;

}
.imgProfilListe
{
    width: 100px;
    height: auto;
}
.tableSortie
{
    width: 90%;
}
.tableSortie,
tr
{
    height: 80%;
}
.tableSortie,
tr,td
{
    height: 20px;
}
.tableSortie,
tr,th
{
    height: 20px;
}

.topnav a {
    float: left;
    display: flex;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 600ms all;
    transform: rotate3d(3, 3, 3, 10deg);
}

.topnav a:hover {
    background-color: lightgoldenrodyellow;
    text-decoration: none;

}

.topnav a.active {
    background-color: cornflowerblue;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

main {
    text-align: justify-all;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
}
@media all and (max-width: 1024px)
{
    nav
    {
        width: auto;
        text-align: left;
    }

    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px;
    }

    nav a
    {
        font-size: 1.1em;
    }

    nav a:hover
    {
        border-bottom: 0;
    }
}