body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Rampart One', cursive;
    background-color: ivory;

}


header {
    background-color: #26ade7;
    padding: 1rem 0;
}


header h1 {
    margin: 0 0 10px 0;
}


header a {

    text-decoration: none;
    color: inherit;
}

header nav a:hover {
    background-color: ivory;
    text-decoration: underline;
    cursor: pointer;
}

.header-logo {
    font-size: 3rem;
    font-weight: normal;
}

.header-logo img {
    max-width: 42px;
    margin-right: 5px;
}

.header-nav {

    display: flex;
}
nav ul{

    display: flex;
    list-style: none;
    padding-left: 0;
}
nav li{

    margin-right: 1rem;
}

main {
    flex: 1;
    padding: 1rem 0;
    background-color:ivory;
}
label
{
    padding: 1.5px;
    display: block;
    margin: 8px;
}

input,
textarea

{
    margin-bottom: 3rem;
    box-sizing: border-box;
    width: 150px;
    max-width: 50%;
}


body> .container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    padding: 2rem 0;
    text-align: center;
    background-color: #26ade7;
    color: black;
}

