body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Rampart One', cursive;
    background-color: ivory;

}


header {
    background-color: #26ade7;
    padding: 0.5rem 0;
}


header h1 {
    margin: 0 0 10px 0;
}


header a {

    text-decoration: none;
    color: inherit;

}

header nav a:hover {
    background-color: ivory;
    text-decoration: underline;
    cursor: pointer;
}

.header-logo {
    font-size: 3rem;
    font-weight: normal;
}

.header-logo img {
    max-width: 20px;
    margin-right: 3px;
    margin-top: 3px;
}

.header-nav {

    display: flex;
}
nav ul{

    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: right;

}
nav li{

    margin-right: 1rem;

}

main {
    flex: 1;
    padding: 1rem 0;
    background-color:ivory;
}
label
{
    padding: 1.5px;
    display: block;
    margin: 8px;
}

input,
textarea

{
    margin-bottom: 3rem;
    box-sizing: border-box;
    width: 300px;
    max-width: 50%;
}


body> .container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

td {
    border:darkgray solid;
}

th {
    border: black solid;
}

.tab-filtre {
    width: 96em;
    border: black solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding: 2rem 0;
    text-align: center;
    background-color: #26ade7;
    color: black;
}
.imgProfil
{
    width: 200px;
    height: auto;

}
.imgProfilListe
{
    width: 100px;
    height: auto;
}
.tableSortie
{
    width: 90%;
}
.tableSortie,
tr
{
    height: 80%;
}
.tableSortie,
tr,td
{
    height: 20px;
}
.tableSortie,
tr,th
{
    height: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: lightblue;
    text-decoration: none;

}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: cornflowerblue;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}