<nav>
    <ul>
        <li><a href="#" title="villes"></a>Villes</li>
        <li><a href="#" title="campus"></a>Campus</li>
        <li><a href="#" title="acceuil"></a>Acceuil</li>
        <li><a href="#" title="profil"></a>Mon profil</li>
        <li><a href="#" title="logout"></a>Se deconnecter</li>
    </ul>
</nav>