<nav>
    <ul>


        <li><a href="{{ path('main_home') }}" title="Home">Acceuil</a></li>
        <li><a href="#" title="Ville">Ville</a></li>
        <li><a href="#" title="Campus">Campus</a></li>
        <li><a href="#" title="Profil">Mon profil</a></li>
        <li><a href="{{ path('app_register') }}" title="Login">Cree un utilisateur</a></li>
        <li><a href="{{ path('main_home') }}" title="Logout">Se deconnecter</a></li>




    </ul>
</nav>